body{
  overflow-y: hidden;
  overflow-x: hidden;
}

.clearfix{
  width: 960px;
  margin: 0 auto;
  padding:10px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.wrappers_juego{  
  width: 100%;
  height: 80%;
  color: white;
  background: grey;
}
.flotar{
  float: left;
  width: 50%;
}
.flotar_3{
  float: left;
  width: 33.33%;
  text-align: center;
}
input[type="text"]{
  width:50px;
  color: black;
  text-align: center;
}
input[type="button"]{
  color:black;
}
select{  
  width:100%;
  height: 80% !important;
  text-align: center;
  font-size: 5.3em;
}
option{
  border-bottom: 2px solid black;
  background-color: rosybrown;
}
option:nth-child(even){
  background-color: lightblue;
}
#lista_1{
  color:red;
}
#lista_2{
  color:blue;
}
.botones{
  text-align:center;
}
.hud{
  text-align:center;
  margin-top: 140px;  
}
#mensaje{
  font-size: 6.3rem;
  margin-top: 50px;
  color: black;
  font-weight: bold;
}
.game-buttons{
  width: 100%;
  height: 14%;
  color: black;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  font-size: 5.3rem;
}
#start-game{
  display: inline-block;
  width: 50%;
  height: 100%;
  cursor: pointer;
  background-color: brown;
  border: 2px solid black;
}
#start-game:hover{
  color: white;
  background-color: chocolate;
}