<html ng-app="juego">
<head>
  <title></title>
  <link rel="stylesheet" href="css/vendor/bootstrap.css">
  <link rel="stylesheet" href="css/index.css">
  <script src="js/vendor/angular.js"></script>
</head>
<body>
  <section ng-controller="ControlMenu as menu">  
    <section>
      <ul class="nav nav-pills">
      <!-- ojo no poner punto y coma despues de la función -->
      <li ng-class="{active:menu.isActive(1)}" ng-click="menu.setActive(1);">
        <a href>Juego</a></li>
      <li ng-class="{active:menu.isActive(2)}" ng-click="menu.setActive(2);"><a href>Puntaje</a></li>
      <li ng-class="{active:menu.isActive(3)}" ng-click="menu.setActive(3);"><a href>Instrucciones</a></li>
    </ul>
    </section>
  <section ng-show="menu.isActive(1);" ng-controller="GameController as game">
  <div class="wrappers_juego clearfix">    
      <div class="flotar_3">
        <h3>Numero 3</h3>
        <select id='lista_1' multiple="multiple">
        <option ng-repeat="numero in game.leftList track by $index">{{numero}}</option>          
        </select>
    </div>
      <div class="flotar_3">
        <section class="hud">
          <div>
          <span>Tiempo</span> <br />
          <input type="text" id="timer"/>
        </div>
        <div>
          <span>Numero</span> <br />
          <input type="text" value="{{game.randomNumber}}"/>
        </div>
        <div>
          <span>Total</span> <br />
          <input type="text" value="{{game.total}}"/>
        </div>
        </section>  
        <br />
        <div class="botones">
          <input type="button" ng-show="{{game.showBotones}}" value="<" ng-click="game.moveNumberLeft()"/>
          <input type="button" ng-show="{{game.showBotones}}" value="Pass" ng-click="game.removeNumber()"/>
          <input type="button" ng-show="{{game.showBotones}}" value=">" ng-click="game.moveNumberRight()"/>          
        </div>
        <div id="mensaje"></div>
      </div>
      <div class="flotar_3">
        <h3>Numero 5</h3>
      <select id='lista_2' multiple="multiple">
        <option ng-repeat="numero in game.rightList track by $index">{{numero}}</option>
      </select>
    </div>    
  </div>  
  <div class="game-buttons">
    <button ng-click="game.startGame()" id="start-game">START</button>
  </div>
  </section>
  <section ng-show="menu.isActive(3);">
    <h2>Instrucciones</h2>
    <p>Instrucciones: Ordenar en las dos listas los numeros que vayan saliendo aleatoriamente, solo salen dos numeros, por ejemplo en este caso el 3 y el 5, si en el campo de texto numero aparece el numero 3, debo  presionar el boton con la flecha a la izquierda y si sale el 5, presiono el boton con la tecla a la derecha. Si me equivoco de lista o si se me acaba el tiempo pierdo. El usuario gana, cuando ordena el total de numeros que aparecen en el campo de texto total.</p>
  </section>
  <section ng-show="menu.isActive(2);">
    <div ng-controller="ControlPuntaje as puntajes">
    <ul class="list-group" ng-repeat="puntaje in puntajes.datos | orderBy:'-puntos'">
    <li class="list-group-item">
    {{puntaje.nombre}}
    <em class="pull-right badge">
    <img ng-src="{{puntaje.image}}" alt="" />
    {{puntaje.puntos}}</em>
    </li>
  </ul>
  </div>
  </section>
  </section>
</body>  
  <script src="js/index.js"></script>
  <script src="js/menu.js"></script>
  <script src="js/juego.js"></script>
  <script src="js/puntaje.js"></script>
  <script src="js/utilities/methods.js"></script>
</html>